<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <!-- This plugin recieves the cmd_vel from joint_state_publisher and -->
        <!-- translates them into gazebo movements. -->
        <!-- name= is not specific.  any identifier is fine -->
        <!-- filename= is important and is the file name of the plugin -->
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Each tag here is a parameter for the plugin and relates to our urdf joint names -->
            <!-- These are specific to a diff drive robot using the diff_drive gazebo plugin -->
            <!-- More information on this plugin here: -->
            <!-- https://classic.gazebosim.org/tutorials?tut=ros_gzplugins#RRBotExample -->
            <!-- https://classic.gazebosim.org/tutorials/browse -->

            <!-- Wheel information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_diameter>0.1</wheel_diameter>


            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>


        </plugin>
    </gazebo>
    
</robot>