<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
<!-- This file is going to be used to setup our robot. -->
<!-- It does not contain any description. -->
<!-- Description compondents are added as individual includes -->

    <!-- These two parameters state if we are using gazzebo or hardware control -->
    <!-- I don't believe I can use both -->
    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>


    <!-- This is our robot base and minimum viable description -->
    <!-- Do NOT comment this include out or we will not have a robot. -->
    <xacro:include filename="robot_core.xacro" />





    <!-- These are to enable ros2control or gazebo control when needed. -->
    <!-- For now I am going to do it manually.-->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>

    



    <!-- Load the description file for the Lidar.  Can be commented out to disable -->
    <xacro:include filename="lidar.xacro" />
    
    <!-- Load the description file for the camera.  Can be commented out to disable -->
    <xacro:include filename="camera.xacro" />

    <!-- <xacro:include filename="depth_camera.xacro" /> -->


</robot>